<%= render :partial => "/shared/content_page" %>

<form id="join" action="/join-email">
<table>
	<tr class="text">
		<td width="150"><label for="name">Name</label></td>
		<td><input name="join[name]" type="text" width="200" /></td>
	</tr>
	<tr class="text">
		<td><label for="email">Email</label></td>
		<td><input name="join[email]" type="text" width="200" /></td>
	</tr>
	<tr class="text">
		<td><label for="phone">Phone</label></td>
		<td><input name="join[phone]" type="text" width="200" /></td>
	</tr>
	<tr class="text">
		<td><label for="site">Portfolio/Website</label></td>
		<td><input name="join[site]" type="text" width="200" /></td>
	</tr>
	<tr class="text">
		<td><label for="sites">Links to Current Work </label></td>
		<td><textarea name="join[sites]" cols="4" row="70"></textarea></td>
	</tr>
	<tr class="text">
		<td><label for="bio">What you're currently doing and why you want to work with us</label></td>
		<td><textarea name="join[bio]" cols="4" row="70"></textarea></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" /></td>
	</tr>
</table>
	
</form>